a {
    color: lightseagreen;
}
img {
    padding: 10px;
    max-width: 100%;
}
.imagediv {
    width: 99.8%; 
    text-align: center;
}

pre {
    font-size: large;
    white-space: break-spaces;
}

hr {
    border: 2px solid dimgrey;
}

.project_button {
    float: right;
    border-radius: 8px;
    min-height: 30px;
}